
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
}


p {
    line-height: 1.6;
}


#about {
    padding: 20px;
}


.section-title {
    color: blue;
}
/*
Challenge, The p element and the .highlight class both apply to the same paragraph. The p element has a score of 0,0,1 while the .highlight has a score of 0,1,0, therefore .highlight class wins becuase class selectors have a higher specificity than elements.  
*/

p {
    color: black;
}

.highlight {
    color: blue;
}

#profile-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 20px auto;
}
